body {
    background-image: url("https://static.wikia.nocookie.net/minecraft_gamepedia/images/c/ca/End_Poem_background_BE.png/revision/latest?cb=20210820070313");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
}

h1 {
    font-size: 65px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 4px 4px 0px rgb(0, 0, 0), -4px 4px 0px rgb(0, 0, 0), 4px -4px 0px rgb(0, 0, 0), -4px -4px 0px rgb(0, 0, 0);
}

h3 {
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px rgb(0, 0, 0), -2px 2px 0px rgb(0, 0, 0), 2px -2px 0px rgb(0, 0, 0), -2px -2px 0px rgb(0, 0, 0);
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
    color: rgb(130, 251, 255);
    font-size: 20px;
}

ul li {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.item {
    background-color: rgba(19, 19, 19, 0.6);
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

footer {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #ffeb3b;
}

table{
    align-content: center;
    align-items: center;
}